@import "base/base";

.view-color-picker {
    padding: 20px;

    .picker-input {
        display: flex;

        .md-button {
            height: 36px;
            margin-top: 10px;
            margin-left: 40px;
        }
    }

    .color-block-cell {
        width: 100px;
    }

    .color-block {
        width: 80px;
        height: 50px;
    }
}
